body {
  font-family: 'Georgia', serif;
  color: #515151;
  margin: 0;
  padding: 0;
  position: relative;
}

.container {
  max-width: 1200px;
  min-width: 300px;
  width: auto;
  display: block;
  margin: 0 auto;

  &:before, &:after {
    clear: both;
    height: 0;
    display: block;
    content: "";
  }
}

.full-screen {
  min-height: 100vh;
  height: auto;
  width: 100%;

  &:nth-child(odd) {
    background-color: #f9f9f9;
  }
}