@import url("//hello.myfonts.net/count/33b5f5");
@font-face {font-family: 'Bronkoh';font-weight: normal;font-style: normal;src: url('../fonts/33B5F5_0_0.eot');src: url('../fonts/33B5F5_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/33B5F5_0_0.woff2') format('woff2'),url('../fonts/33B5F5_0_0.woff') format('woff'),url('../fonts/33B5F5_0_0.ttf') format('truetype');}
@font-face {font-family: 'Bronkoh';font-weight: normal;font-style: italic;src: url('../fonts/33B5F5_1_0.eot');src: url('../fonts/33B5F5_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/33B5F5_1_0.woff2') format('woff2'),url('../fonts/33B5F5_1_0.woff') format('woff'),url('../fonts/33B5F5_1_0.ttf') format('truetype');}
@font-face {font-family: 'Bronkoh';font-weight: bold;font-style: normal;src: url('../fonts/33B5F5_2_0.eot');src: url('../fonts/33B5F5_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/33B5F5_2_0.woff2') format('woff2'),url('../fonts/33B5F5_2_0.woff') format('woff'),url('../fonts/33B5F5_2_0.ttf') format('truetype');}
@font-face {font-family: 'Bronkoh-HeavyItalic';src: url('../fonts/33B5F5_3_0.eot');src: url('../fonts/33B5F5_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/33B5F5_3_0.woff2') format('woff2'),url('../fonts/33B5F5_3_0.woff') format('woff'),url('../fonts/33B5F5_3_0.ttf') format('truetype');}

// .Bronkoh-normal-normal { 
//     font-family: Bronkoh;
//     font-weight: normal;
//     font-style: normal;
// }
// .Bronkoh-normal-italic { 
//     font-family: Bronkoh;
//     font-weight: normal;
//     font-style: italic;
// }
// .Bronkoh-bold-normal { 
//     font-family: Bronkoh;
//     font-weight: bold;
//     font-style: normal;
// }
// .Bronkoh-HeavyItalic { 
//     font-family: Bronkoh-HeavyItalic;
//     font-weight: normal;
//     font-style: normal;
// }

